<div class="row p-5 bg-light rounded">
  <form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off">
    <h2 class="text-center text-primary">Sign up</h2>

    <div class="mb-3">
      <label style="margin-inline-end: 10px;">I am a:</label>
      <label class="form-check-label">
        <input type="radio" value="male" class="form-check-input" formControlName="gender"> Male
      </label>
      <label class="form-check-label" style="margin-inline-start: 5px;">
        <input type="radio" value="female" class="form-check-input" formControlName="gender"> Female
      </label>
    </div>
    <app-text-input
      [formControl]="$any(registerForm.controls['username'])"
      [label]="'Username'">
    </app-text-input>
    <app-text-input
      [formControl]="$any(registerForm.controls['knownAs'])"
      [label]="'Known as'">
    </app-text-input>
    <app-date-picker
      [formControl]="$any(registerForm.controls['dateOfBirth'])"
      [label]="'Date of birth'" [maxDate]="maxDate">
    </app-date-picker>
    <app-text-input
      [formControl]="$any(registerForm.controls['city'])"
      [label]="'City'">
    </app-text-input>
    <app-text-input
      [formControl]="$any(registerForm.controls['country'])"
      [label]="'Country'">
    </app-text-input>
    <app-text-input
      [formControl]="$any(registerForm.controls['password'])"
      [label]="'Password'" [type]="'password'">
    </app-text-input>
    <app-text-input
      [formControl]="$any(registerForm.controls['confirmPassword'])"
      [label]="'Confirm password'" [type]="'password'">
    </app-text-input>

    @if (validationErrors) {
      <div class="alert alert-danger">
        <ul>
          @for (error of validationErrors; track $index) {
            <li>{{error}}</li>
          }
        </ul>
      </div>
    }

    <div class="form-group text-end">
      <button (click)="cancel()" type="button" class="btn btn-default border me-1">Cancel</button>
      <button [disabled]="!registerForm.valid" type="submit" class="btn btn-success">Sign up</button>
    </div>
  </form>
</div>
