<header class="p-3 text-bg-dark">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-between">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-5 text-decoration-none text-white">
      <span class="fs-4">Roomies</span>
      </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          @if (accountService.currentUser()) {
            <li><a routerLink="/members" routerLinkActive="active" class="nav-link px-2">Matches</a></li>
            <li><a routerLink="/lists" routerLinkActive="active" class="nav-link px-2">Lists</a></li>
            <li><a routerLink="/messages" routerLinkActive="active" class="nav-link px-2">Messages</a></li>
            <li><a class="nav-link px-2" role="button" (click)="logout()">Logout</a></li>
          }
        </ul>

      @if (!accountService.currentUser()) {
        <div class="d-flex">
          <form #loginForm="ngForm" (ngSubmit)="login()" class="d-flex gap-2 me-md-5" role="search">
            <input
              type="search" [(ngModel)]="model.username"
              class="form-control form-control" placeholder="Username"
              name="username" aria-label="Username"
            >
            <input
              type="search" [(ngModel)]="model.password"
              class="form-control form-control" placeholder="Password"
              type="password" aria-label="Password" name="password"
            >
            <button type="submit" class="btn btn-outline-light me-2">Login</button>
          </form>
          <div class="text-end">
            <button type="button" class="btn btn-primary">Sign up</button>
          </div>
        </div>
      }
      @if (accountService.currentUser()) {
        <div dropdown class="dropdown">
          <a dropdownToggle class="dropdown-toggle text-light text-decoration-none">Welcome {{accountService.currentUser()?.username | titlecase}}</a>
          <div *dropdownMenu class="dropdown-menu">
            <a class="dropdown-item">Edit profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item"role="button" (click)="logout()">Logout</a>
          </div>
        </div>
      }
    </div>
  </div>
</header>
